*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-family: 'Rubik', sans-serif;

}
body{
    background-color: hsl(270, 20%, 96%);
}

.background_shapes{
    width: 350px;
    height: 600px;
    position: absolute;
    z-index: -1;

}
.shape-1{
    background-image: linear-gradient(to bottom, hsl(293, 73%, 36%), hsl(264, 100%, 61%));
    border-radius:0px 0px 200px 170px;  
    
}
.shape-2{
    border-radius:200px 170px 0px 0px; 
    background: rgba(235, 209, 243, 0.4);
    right: 0;
    bottom: 0%;
}
/* End of background */

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 10%;
    margin: auto;
    position: relative;

}


.phone_screen{
    background-color: hsl(270, 20%, 96%); 
    width: 330px;
    height: 610px;
    border-radius: 35px;
    border-color: white;
    border-style: solid;
    border-width: 10px 10px 10px 10px;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 80px;
    left: 300px;
    

}



.phone_screen-msg{

    background-color: hsl(300, 35%, 92%);
    font-size: 14px;
    border-radius: 10px;
    max-width: 80%;
    text-align: left;
    padding: 7px;
    margin: 6px;
    color: hsl(276, 55%, 52%);
    /* Animation */
    animation-name: toDown;
    animation-duration: 1000ms;
    transition-property: transform;
    animation-timing-function: ease;
    animation-delay: 500ms; 

}


@keyframes toDown{
    
    from{
        transform:translateY(-50%) scale(0) ;
    }
    to{
        transform: translateY(0%) scale(1);
    }
}

.phone_screen_top{

    background-image: linear-gradient(to left, hsl(293, 51%, 53%), hsl(264, 94%, 67%));
    border-radius: 25px 25px 10px 10px;
    margin-bottom: 10px;
    margin-top: 35px;
    padding: 10px;
    height: 75px;
    position: relative;
    color: white;
    display: flex;
}
.phone_screen_top h6{
    color: hsl(276, 100%, 81%);
}
.phone_screen_top h4{
    padding-top: 10px;
}
.phone_screen_top .profile-pic{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border-color: white;
    border-style: solid;
    border-width: 3px;
    margin-right: 20px; 
    margin-left: 10px;
}

div .client-msg{
    background-color: white;
    width: 65%;
    position: calc(100%-50px);
    right: calc(100%-50px);
    transition: 0s transform ease-in ;
    transform: translateX(45%);
    color: hsl(271, 15%, 43%);
      /* Animation */
      animation-name: toDownC;
      animation-duration: 1000ms;
      transition-property: transform;
      animation-timing-function: ease;
      animation-delay: 500ms;
      animation-direction: alternate;
}

.img-client_msg{
    display: flex;
    flex-basis: 10px;
    background-color: unset;
    background-color: none;
    transition: 0s transform ease-in ;
    transform: translateX(45%);
    margin:10px;
    margin-right: 50px;
    /* Animation */
    animation-name: toDownC;
    animation-duration: 1000ms;
    transition-property: transform;
    animation-timing-function: ease;
    animation-delay: 500ms;
    animation-direction: alternate;
    
}
@keyframes toDownC{
    
    from{
        transform:translateY(50%) translateX(45%) scale(0) ;
    }
    to{
        transform: translateY(0%) translateX(45%)  scale(1);
    }
}
.img-client_msg img{
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    
  

}

.phone_screen-price{
    background-image: linear-gradient(to right, hsl(293, 60%, 55%), hsl(264, 84%, 63%));
    color: hsl(206, 6%, 79%);
    display: flex;
    justify-content: space-between;
    padding-top: 11px;
}

.half-hour::after{
    content: ' $29';
    color: white;
    font-size: 18px;

}
.hour::after{
    content: ' $49';
    color: white;
    font-size: 20px;

}

.input_container{
    position: relative;
}
input[type="text"]{
    border-radius: 30px;
    height: 35px;
    margin-top: 10px;
    border: none;
    padding: 10px;
    margin: 5px;
    margin-bottom: 20px;
    bottom: 2%;
    left: 3%;
    width: 300px;
 }

 button[type="submit"]{
    position: absolute;
    z-index: 1;
    top: 9px;
    left: 270px;
    width:25px; height: 25px;
    background-color: #280774;
    border-radius: 40px;
    padding: 3px;
    border: none; cursor:pointer;
    color: whitesmoke;
    font-size: 16px;

 } 


 /* Second part */

 .instructions{
    color: hsl(270, 7%, 64%);
    position: absolute;
    top: 250px;
    left: 750px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    text-align: justify;
    align-items: flex-start;

}
 .instructions h1{
     color: hsl(271, 36%, 24%);

 }
 .instructions p{
    line-height: 24pt;
    text-align: justify;
    text-align-last: left;
 }
